:root {
    --text-color: #222222;
    --back-color: white;

    font-size: clamp(16px, calc(10px + 1vmin), 50px);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #dddddd;
        --back-color: black;
    }
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comic Sans", comic-sans, cursive;

    color: var(--text-color);
    background-color: var(--back-color);
}