:root {
    --text-color: #242628;
    --back-color: white;
    --grid-color: #787674;
    --text-highlight-color: #302800;
    --back-highlight-color: #fff088;
    --text-pending-color: #24262840;

    --default-font: "Comic Sans", comic-sans, cursive;

    font-size: clamp(10px, calc(8px + 1.5vmin), 50px);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #dadcde;
        --back-color: black;
        --grid-color: #9a9896;
        --text-highlight-color: #fffacc;
        --back-highlight-color: #484000;
        --text-pending-color: #dadcde40;
    }
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--default-font);
    text-align: center;

    height: 100vh;
    color: var(--text-color);
    background-color: var(--back-color);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;

    overflow: hidden;
}

.hidden {
    display: none !important;
}

/* Header */

header h1 {
    font-size: min(14vw, 2.5rem);
    padding: 0.5rem;
}

#name-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#name-row label {
    display: block;
}

#name-row input {
    font-family: var(--default-font);
    font-size: 1rem;

    color: var(--text-color);
    background-color: var(--back-color);

    width: 8ch;
    padding-left: 0.5ch;
    border: none;
    border-bottom: 0.1rem solid var(--text-color);
}

#name-row input:focus {
    color: var(--text-highlight-color);
    background-color: var(--back-highlight-color);
    outline: none;
}

/* Board */

#board {
    --grid-height: min(calc(95vh - 10.5rem), 85vw);
    --grid-line-breadth: clamp(2px, 1vmin, 12px);
    --cell-height: calc((var(--grid-height) * 0.33) - (var(--grid-line-breadth) * 2));

    height: var(--grid-height);
    aspect-ratio: 1 / 1;
    margin: auto;
    background-color: var(--grid-color);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--grid-line-breadth, 2px);
}

#board .cell {
    color: var(--text-color);
    text-align: center;
    line-height: var(--cell-height);
    font-size: var(--cell-height);
    background-color: var(--back-color);
}

#board .cell.winning {
    color: var(--text-highlight-color);
    background-color: var(--back-highlight-color);
}

#board .cell.empty {
    color: var(--text-pending-color);
    cursor: pointer;
}

#board.x-turn .cell.empty:hover::after {
    content: "X";
}

#board.o-turn .cell.empty:hover::after {
    content: "O";
}

#board .cell.marked {
    cursor: default;
}

#board.win-state .cell.empty {
    cursor: not-allowed;
}


/* Message row */

#message-row {
    /* Keeps height consistent through button hide/show */
    height: 1.2rem;
    margin-top: 0.5rem;
}

#message-row button {
    display: inline-block;
    cursor: pointer;

    font-family: var(--default-font);
    font-size: 1rem;

    color: var(--text-color);
    background-color: var(--back-color);

    border: 1px solid var(--text-color);
    border-radius: 0.5rem;
    padding: 0.1rem 0.5rem;
    margin-left: 0.5rem;
}

#message-row button:hover {
    color: var(--text-highlight-color);
    border-color: var(--text-highlight-color);
    background-color: var(--back-highlight-color);
}

/* Footer */

footer {
    font-size: 0.8rem;
}

footer a {
    color: var(--text-color);
}

/* Wider screen adjustments */

@media (min-width: 600px) {
    #name-row input {
        font-size: 1.2rem;
        width: 12ch;
    }
}

/* Tiny screen adjustments */

@media (max-height: 240px) {
    #body {
        gap: 0.25rem;
    }

    header h1, footer {
        display: none;
    }

    #board {
        --grid-height: min(calc(95vh - 4.5rem), 85vw);
    }
}

@media (max-height: 150px) {
    #name-row {
        display: none;
    }

    #board {
        --grid-height: min(calc(95vh - 2.5rem), 85vw);
    }
}