:root {
    --text-color: #222222;
    --back-color: white;
    --grid-color: #777777;

    font-size: clamp(10px, calc(8px + 1.5vmin), 50px);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #dddddd;
        --back-color: black;
        --grid-color: #999999;
    }
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comic Sans", comic-sans, cursive;

    height: 100vh;
    color: var(--text-color);
    background-color: var(--back-color);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
}

/* Header */

header {
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    padding: 0.5rem;
}

/* Board */

#board {
    --grid-height: calc(95vmin - 8.5rem);
    --grid-line-breadth: clamp(2px, 1vmin, 12px);
    --cell-height: calc((var(--grid-height) * 0.33) - (var(--grid-line-breadth) * 2));

    height: var(--grid-height);
    aspect-ratio: 1 / 1;
    background-color: var(--grid-color);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--grid-line-breadth, 2px);
}

#board .cell {
    color: var(--text-color);
    text-align: center;
    line-height: var(--cell-height);
    font-size: var(--cell-height);
    background-color: var(--back-color);
}

/* Footer */

footer a {
    color: var(--text-color);
}
